.cover {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  max-width: 1184px;
  max-height: 740px;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../images/cover.jpg);
}

.cover:hover {
  opacity: 0.8;
}
  
@media screen and (max-width: 1024px) {
  .cover {
    max-height: 640px;
    left: 0;  
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-height: 200px;
  }
}