.cover {
  display: flex;
  flex-direction: column;
  margin: 92px auto 92px;
  padding: 0;
  max-width: 1184px;
  min-height: 740px;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../images/cover.jpg);
  width: 100%;
}

@media screen and (max-width: 1279px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    min-height: 480px;
    margin: 90px auto 88px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    min-height: 200px;
    max-width: 320px;
    margin: 66px auto 0;
  }
}