.place__link {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  transition: opacity ease .3s;
  margin: 0;
  padding: 0;
  width: max-content;
  max-width: 456px;
} 

.place__link:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .place__link {
    margin: 0 16px 0 16px;
    max-width: 288px;
    min-height: 22px;
  }
}