.cover__background {
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 1184px;
  min-height: 740px;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;
  height: 100%;
  width: 100%;
}
  
.cover__background:before {
  background: #2A2C2F;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  position: absolute;
  transition: opacity ease .3s;
}

.cover__background:hover::before {
  opacity: .8;
}