.footer {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 92px 48px 24px 48px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer  {
    max-width: 720px;
    padding-top: 88px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer  {
    max-width: 186px;
    padding-top: 64px;
    padding-right: 118px;
    padding-left: 16px;
    flex-direction: column;
  }
}