.place__url-heading {
  color: #AAAAAA;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  margin: 0;
  padding: 0 0 12px;
  text-transform: uppercase;
  outline: 1px solid red;
  max-width: 456px;
}

@media screen and (max-width: 767px) {
  .place__url-heading {
    margin: 0 16px 0 16px;
    max-width: 288px;
    min-height: 12px;
  }
}