.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  outline: 1px solid red;
  max-width: 456px;
}

.place__website:last-of-type {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .place__website {
    min-height: 46px;
    max-width: 288px;
   
  }
}